#main {
    width: 500px;
    height: auto;
    overflow: hidden;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    padding-left: 10px;
    margin-top: 100px;
    border: 0;
    padding-top: 20px;
    background-color: rgba(0, 125, 250, 0.3);
}

#main td {
    padding: 10px;
}

#main .error {
    color: red;
}

#main h2 {
    color: black;
}

#main .registerTable {
    border-spacing: 2px;
    border-collapse: collapse;
    text-align: center;
    border: 0;
}

/* css code for button*/
#main .btn {
    width: 150px;
    height: 32px;
    outline: none;
    border-radius: 2px;
    font-weight: 600;
    color: coral;
    letter-spacing: 1px;
    font-size: 14px;
    background-color: #f1f1f1;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

#main .btn:hover {
    background-color: darkorange;
    outline: none;
    border-radius: 2px;
    color: cornflowerblue;
    border: 1px solid darkslategrey;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

#main .linkDiv {
    float: right;
    margin-right: 50px;
}