#calendar {
    margin-top: 5%;
}

#eventModal {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

#eventModal .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    position: relative;
}

#eventModal .modal-content h2 {
    margin-top: 0;
}

#eventModal .modal-content label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}

#eventModal .modal-content input[type=text] {
    width: 200px;
    margin-bottom: 10px;
}

#eventModal .modal-content input[type=submit] {
    display: block;
    margin: 20px auto 0;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#eventModal .modal-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

.total-card {
    position: fixed;
    left: 40%;
    right: 40%;
    width: 20%;
    padding: 10px;
    border-radius: 10px;
    background-color: #f2f2f2;
    font-size: 20px;
    font-weight: 600;
    z-index: 100;
}

.total-card-item {
    height: 20px;
    text-align: center;
    z-index: 100;
}

.invisible-div {
    position: relative;
    visibility: hidden;
}

#total-cost {
    top: 0;
}

#paid-cost {
    top: 5%;
}

#welcome-name {
    font-size: 30px;
    font-weight: bold;
}

#username {
    font-style: italic;
}

.fc-h-event.event-green .fc-event-main {
    background-color: lightgreen !important;
    color: black !important;
}

#logout-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: lightgrey;
    color: #222222;
    border: 2px solid #222222;
    padding: 8px 16px;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}

#logout-button:hover {
    background-color: #222222;
    color: #ffffff;
    cursor: pointer;
}


@media (max-width: 1900px) {
    .invisible-div {
        margin-bottom: 90px;
    }
}

@media (max-width: 1150px) {
    .invisible-div {
        margin-bottom: 90px;
    }

    .total-card div {
        font-size: 80%; !important;
    }

    #welcome-name {
        font-size: 80%;  !important;
    }

    #username {
        font-size: 100%; !important;
    }
}

@media (max-width: 700px) {
    .total-card div {
        font-size: 70%; !important;
    }
}
