html {
    scrollbar-width: none; /* Для Firefox */
}

/* Для Chrome, Edge та Safari */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#calendar {
    margin-top: 5%;
}

#eventModal {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

#eventModal .modal-content {
    background-color: lightcyan;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
    border-radius: 20px;
    position: relative;
    max-width: 400px;
    max-height: 300px;
}

#eventModal .modal-content h2 {
    margin-top: 0;
}

#eventModal .modal-content label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}

#eventModal .modal-content input[type=text] {
    width: 200px;
    margin-bottom: 10px;
}

#eventModal .modal-content input[type=submit] {
    display: block;
    margin: 20px auto 0;
    padding: 10px;
    background: #ff7f50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

#eventModal .modal-content button[type=submit]:hover {
    background-color: #ff6347;
    border-color: #ff6347;
}

#eventModal .modal-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

#eventModal .modal-content .btn-danger:hover {
    background-color: #c82333;
    border-color: #c82333;
}

.total-card {
    position: fixed;
    left: 40%;
    right: 40%;
    width: 20%;
    padding: 10px;
    border-radius: 10px;
    background-color: #f2f2f2;
    font-size: 20px;
    font-weight: 600;
    z-index: 100;
}

.total-card-item {
    height: 20px;
    text-align: center;
    z-index: 100;
}

.invisible-div {
    position: relative;
    visibility: hidden;
}

#total-cost {
    top: 0;
}

#paid-cost {
    top: 5%;
}

#welcome-name {
    font-size: 30px;
    font-weight: bold;
}

#username {
    font-style: italic;
}

.fc-h-event.event-green .fc-event-main {
    background-color: lightgreen !important;
    color: black !important;
}

#logout-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: lightgrey;
    color: #222222;
    border: 2px solid #222222;
    padding: 8px 16px;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}

#logout-button:hover {
    background-color: #222222;
    color: #ffffff;
    cursor: pointer;
}

.popup-window {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 20%;
    height: 75%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid #444;
    border-radius: 10px;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 99;
}

.popup-trigger {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 25px;
    height: 125px;
    background-color: #f0f0f0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-rl;
    border-radius: 10px;
    border-top: 1px solid #444;
    border-left: 1px solid #444;
    border-bottom: 1px solid #444;
    z-index: 98;
}

.arrow {
    position: absolute;
    top: 50%;
    right: -8px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #666;
    z-index: 149;
}

.open-text {
    font-size: 20px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 1900px) {
    .invisible-div {
        margin-bottom: 90px;
    }
}

@media (max-width: 1150px) {
    .invisible-div {
        margin-bottom: 90px;
    }

    .total-card div {
        font-size: 80%; !important;
    }

    #welcome-name {
        font-size: 80%;  !important;
    }

    #username {
        font-size: 100%; !important;
    }
}

@media (max-width: 700px) {
    .total-card div {
        font-size: 70%; !important;
    }
}
