#main {
    font-family: "DejaVu Sans Mono", monospace;
}

/* links code */
a:link {
    color: darkmagenta;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: darkmagenta;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: blueviolet;
    background-color: transparent;
    text-decoration: none;
    outline: none;
    border-radius: 2px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

a:active {
    color: darkmagenta;
    background-color: transparent;
    text-decoration: none;
}

/* animation code */
body.backAnimation{
    overflow: hidden;
    -webkit-animation: backAnimation 20s infinite;
    animation: backAnimation 20s infinite;
}

@keyframes backAnimation{
    0% {background:lightpink;}
    33%{background:lightgrey;}
    66%{background:lightseagreen;}
    100%{background:lightpink;}
}

@-webkit-keyframes backAnimation{
    0% {background:lightpink;}
    33%{background:lightgrey;}
    66%{background:lightseagreen;}
    100%{background:lightpink;}
}

/* footer code */
.footer-basic {
    padding:20px 0;
    background-color: rgba(0, 125, 250);
    color:#4b4c4d;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.footer-basic .social {
    text-align:center;
    padding-bottom:10px;
}

.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}

.footer-basic .social > a:hover {
    opacity:0.9;
}

.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:darkmagenta;
    margin-bottom:0;
}