<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Tutors Helper - main page</title>
    <link rel="stylesheet" href=" https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/mainPageStyle.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" th:src="@{js/mainPageScript.js}"></script>

</head>
<body class="backAnimation">
<div class="calendar-container">
    <div class="header">
        <ul class="days-of-the-week">
            <li id="day-name-1"></li>
            <li id="day-name-2"></li>
            <li id="day-name-3"></li>
            <li id="day-name-4"></li>
            <li id="day-name-5"></li>
            <li id="day-name-6"></li>
            <li id="day-name-7"></li>
        </ul>

        <ul class="number-days">
            <li id="day-number-1"></li>
            <li id="day-number-2"></li>
            <li id="day-number-3"></li>
            <li id="day-number-4"></li>
            <li id="day-number-5"></li>
            <li id="day-number-6"></li>
            <li id="day-number-7"></li>
        </ul>
    </div>

    <div class="time-container">
        <ul class="time-of-the-day">
            <li>1<sup>am</sup></li>
            <li>2<sup>am</sup></li>
            <li>3<sup>am</sup></li>
            <li>4<sup>am</sup></li>
            <li>5<sup>am</sup></li>
            <li>6<sup>am</sup></li>
            <li>7<sup>am</sup></li>
            <li>8<sup>am</sup></li>
            <li>9<sup>am</sup></li>
            <li>10<sup>am</sup></li>
            <li>11<sup>am</sup></li>
            <li>12<sup>am</sup></li>
            <li>1<sup>pm</sup></li>
            <li>2<sup>pm</sup></li>
            <li>3<sup>pm</sup></li>
            <li>4<sup>pm</sup></li>
            <li>5<sup>pm</sup></li>
            <li>6<sup>pm</sup></li>
            <li>7<sup>pm</sup></li>
            <li>8<sup>pm</sup></li>
            <li>9<sup>pm</sup></li>
            <li>10<sup>pm</sup></li>
            <li>11<sup>pm</sup></li>
            <li>12<sup>pm</sup></li>
        </ul>
    </div>

    <div class="event-container">
        <div class="slot slot-1">
            <div class="event-status"></div>
            <span>Enent A</span>
        </div>

    </div>
</div>

<div class="footer-basic">
    <footer>
        <div class="social">
            <a href="https://t.me/vzzzt02"><i class="fa fa-telegram"></i></a>
            <a href="https://github.com/RegenerationPower"><i class="fa fa-github"></i></a>
        </div>
        <p class="copyright">Tutors Helper © 2023</p>
    </footer>
</div>

<script>
    document.getElementById('day-name-1').innerHTML= getDayOfWeekName(1);
    document.getElementById('day-name-2').innerHTML= getDayOfWeekName(2);
    document.getElementById('day-name-3').innerHTML= getDayOfWeekName(3);
    document.getElementById('day-name-4').innerHTML= getDayOfWeekName(4);
    document.getElementById('day-name-5').innerHTML= getDayOfWeekName(5);
    document.getElementById('day-name-6').innerHTML= getDayOfWeekName(6);
    document.getElementById('day-name-7').innerHTML= getDayOfWeekName(7);

    document.getElementById('day-number-1').innerHTML= getNumberOfWeekName(1);
    document.getElementById('day-number-2').innerHTML= getNumberOfWeekName(2);
    document.getElementById('day-number-3').innerHTML= getNumberOfWeekName(3);
    document.getElementById('day-number-4').innerHTML= getNumberOfWeekName(4);
    document.getElementById('day-number-5').innerHTML= getNumberOfWeekName(5);
    document.getElementById('day-number-6').innerHTML= getNumberOfWeekName(6);
    document.getElementById('day-number-7').innerHTML= getNumberOfWeekName(7);
</script>
</body>
</html>