<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Tutors Helper - starter page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/registerPageStyle.css}">
</head>
<body>
<script src="/js/registerPageScript.js"></script>
<div>
    <!-- Main div code -->
    <div id="main">
        <div>
            <h2>Sign up</h2>
        </div>
        <!-- Form code -->
        <div>
            <form action="#" th:action="@{/login}" method="post" th:object="${user}">
            <table th:class="registerTable">
                <tr>
                    <td class="textBoxNameCategory">Enter Username:</td>
                    <td><input type="text" required placeholder="Enter Username here" id="textBox1" class="textBox" th:field="*{username}" /></td>
                <tr class="error"><td></td><td><p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</p></td></tr>
                </tr>
                <tr>
                    <td class="textBoxNameCategory">Enter Password:</td>
                    <td><input type="password" required placeholder="Enter Password here" id="textBox2" class="textBox" th:field="*{password}" /></td>
                </tr>
                <tr class="error"><td></td><td><p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p></td></tr>

                <!-- TODO confirm password -->
<!--                <tr>
                    <td class="textBoxNameCategory">Enter Confirm Password:</td>
                    <td><input type="password" required placeholder="Confirm Password here" id="textBox3" class="textBox" /></td>
                </tr>-->
                <tr>
                    <td class="textBoxNameCategory">Enter Password:</td>
                    <td><input type="email" required placeholder="Enter Email here" id="textBox3" class="textBox" th:field="*{email}" /></td>
                </tr>
                <tr class="error"><td></td><td><p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</p></td></tr>
                <tr>
                    <!-- Empty for buttons location-->
                    <td></td>
                    <td>
                        <input type="reset" value="Clear Form" onclick="clearFunction()" class="btn" />
                        <input type="submit" value="Register" onclick="registration()" class="btn" /></td>
                </tr>
            </table>
            </form>
        </div>
        <!-- create account box ending -->
    </div>
    <!-- Main div ending. -->
</div>
</body>
</html>